.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: #3a3b3c;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 20px;
    font-weight: 600;
    color: #e4e6eb;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2fc31d;
}